.navbar-custom .navbar-nav{
	margin-left: 41%;
	padding-top: 0px;
}
.phoneLi{
	padding-top: 10px;
}
.wowconnectTag{
	font-size: 12px;
	margin-bottom: 0px;
}
/*header{
	background: linear-gradient(150deg, #0075b5 0%, #00aacc 50%, #0075b5 100%);
}*/
.wowconnect_title{
	font-size: 40px;	
}
.wowconnectTagLine{
	text-align: left;
}
.wowconnectTitle{
	padding-left: 10%;
}
.section1st{
	background: linear-gradient(150deg, #0075b5 0%, #00aacc 50%, #0075b5 100%);
	    padding-top: 5%;
    padding-bottom: 10%;
}
.tag-wowconnect-heading{
	    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: white;
}
.container-top-padding{
	padding-top: 50px;
}
.wowconnect-Features{
	    color: white;
    text-align: left;
    padding-left: 15%;
}

.wowconnect-Features-white{
	    color: #003399;
    text-align: left;
    padding-left: 15%;
}
.section2nd{
	background: white;
}
.image-phone{
	padding-left: 20%;
}
.footer-p-tag{
	    font-size: 1.1rem;
    line-height: 1.8rem;
    color: #c3c3c3;
    white-space: pre-line;
    
}
.footer-above{
	background-color: #374049!important;
}
.footer-below{
	background-color: #374049!important;
}
.footer-p-tag-head{
	font-weight: 600;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 14px;
    color: white;
}
.padding-left-tag{
	padding-left: 7%;

}
.footer-p-tag a{
text-decoration: none;
color: #c3c3c3;
    white-space: pre-line;
}
.footer-p-tag-font{
	color: white;
    font-size: 17px;
}
.list-inline{
	    margin-left: -15px!important;
}
.list-inline a{
	    background: #434C54;
}
.footer-below-two{
	background-color: #343843!important;
	    padding: 20px 0px 15px 0px;
}
.headTagP{
	color: white;
    font-weight: 600;
    font-size: 32px;
    padding-top: 30%;
}
.productdesc{
	padding-bottom: 10%;
	margin-bottom: 0;
    font-size: 19px;
    font-weight: 600;
    color: white;
}
.productdescTag{
	    margin-bottom: 0;
    font-size: 18px;
    font-weight: 300;
    color: white;
    padding-bottom: 10%;
}
.productsfeature{
	padding-top: 10%;
}
.img-product{
	padding-bottom: 5%;
}
.headingP{
	    text-align: center;
    font-size: 22px;
    font-weight: 600;
    
}
.questionFaqP{
	    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}
.questionFaqAns{
	font-size: 14px;
	    margin-bottom: 3px;
}
.questionFaq{
	padding-top: 10%;
	
}
.wowconnect_form_input{
	width: 40%;
    padding: 12px 5px 10px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
    border-radius: 0;
}
.wowconnect_form-btn{
	    padding: 8px 30px;
    background: #003399;
    border: 0;
    color: white;
}
  .footertagline-div{
                background: #0E6837 url(../img/diamond.png);
    background-blend-mode: multiply;
    text-align: center;

        }
        .footertagline img{
                width: 160px;
    padding: 3px 0;
    /*-webkit-filter: contrast(0) brightness(200%);*/
    filter: contrast(0) brightness(200%);
}
.linkedin, .twitter, .blog, .fb, .googleplus{
	background: url(https://dmkxbcjatz4xt.cloudfront.net/wp-content/uploads/2017/05/social-icons.png);
}
.socialMediaIcons {
    list-style-type: none;
    padding-left: 0px;
}
.socialLinks{
    display: inline-block;
    margin-top: 10px;
}
.fb {
    background-position: -10px -168px;
    width: 45px;
    height: 45px;
}
.linkedin {
    background-position: -10px -0px;
    width: 46px;
    height: 46px;
}
.blog {
    background-position: -10px -112px;
    width: 45px;
    height: 46px;
}
.twitter {
    background-position: -10px -56px;
    width: 46px;
    height: 46px;
}
.googleplus {
    background-position: -10px -223px;
    width: 45px;
    height: 45px;
}
.wowconnect_features a{
	    color: wheat;
}