<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>WOW for Students</h2>
                            <!-- <hr class="star-primary"> -->
                            <div id="myCarousel1" class="carousel slide text-center" data-ride="carousel">
                                <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                      <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                                      <li data-target="#myCarousel1" data-slide-to="1"></li>
                                      <li data-target="#myCarousel1" data-slide-to="2"></li>
                                      <li data-target="#myCarousel1" data-slide-to="3"></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                          <div class="item active">

                                            <img src="img/portfolio/portfolio1a.jpg" class="img-responsive img-centered" alt="">
                                          </div>

                                          <div class="item">
                                            <img src="img/portfolio/portfolio1b.jpg" class="img-responsive img-centered" alt="">
                                          </div>
                                        
                                          <div class="item">
                                         <img src="img/portfolio/portfolio1c.jpg" class="img-responsive img-centered" alt="">
                                          </div>

                                          <div class="item">
                                           <img src="img/portfolio/portfolio1d.jpg" class="img-responsive img-centered" alt="">
                                          </div>

                                        <!-- Left and right controls -->
                                        <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                            </div>
                            <!-- <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt=""> -->
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <div id="myCarousel2" class="carousel slide text-center" data-ride="carousel">
                                <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                      <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                                      <li data-target="#myCarousel2" data-slide-to="1"></li>
                                      <li data-target="#myCarousel2" data-slide-to="2"></li>
                                      <li data-target="#myCarousel2" data-slide-to="3"></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                          <div class="item active">

                                            <img src="img/portfolio/portfolio1a.jpg" class="img-responsive img-centered" alt="">
                                          </div>

                                          <div class="item">
                                            <img src="img/portfolio/portfolio1b.jpg" class="img-responsive img-centered" alt="">
                                          </div>
                                        
                                          <div class="item">
                                         <img src="img/portfolio/portfolio1c.jpg" class="img-responsive img-centered" alt="">
                                          </div>

                                          <div class="item">
                                           <img src="img/portfolio/portfolio1d.jpg" class="img-responsive img-centered" alt="">
                                          </div>

                                        <!-- Left and right controls -->
                                        <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                            </div>
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <div id="myCarousel3" class="carousel slide text-center" data-ride="carousel">
                                <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                      <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
                                      <li data-target="#myCarousel3" data-slide-to="1"></li>
                                      <li data-target="#myCarousel3 data-slide-to="2"></li>
                                      <li data-target="#myCarousel3" data-slide-to="3"></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                          <div class="item active">

                                            <img src="img/portfolio/portfolio1a.jpg" class="img-responsive img-centered" alt="">
                                          </div>

                                          <div class="item">
                                            <img src="img/portfolio/portfolio1b.jpg" class="img-responsive img-centered" alt="">
                                          </div>
                                        
                                          <div class="item">
                                         <img src="img/portfolio/portfolio1c.jpg" class="img-responsive img-centered" alt="">
                                          </div>

                                          <div class="item">
                                           <img src="img/portfolio/portfolio1d.jpg" class="img-responsive img-centered" alt="">
                                          </div>

                                        <!-- Left and right controls -->
                                        <a class="left carousel-control" href="#myCarousel3" role="button" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel3" role="button" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                            </div>
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                           <div id="myCarousel1" class="carousel slide text-center" data-ride="carousel">
                                <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                      <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
                                      <li data-target="#myCarousel4" data-slide-to="1"></li>
                                      <li data-target="#myCarousel4" data-slide-to="2"></li>
                                      <li data-target="#myCarousel4" data-slide-to="3"></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                          <div class="item active">

                                            <img src="img/portfolio/portfolio1a.jpg" class="img-responsive img-centered" alt="">
                                          </div>

                                          <div class="item">
                                            <img src="img/portfolio/portfolio1b.jpg" class="img-responsive img-centered" alt="">
                                          </div>
                                        
                                          <div class="item">
                                         <img src="img/portfolio/portfolio1c.jpg" class="img-responsive img-centered" alt="">
                                          </div>

                                          <div class="item">
                                           <img src="img/portfolio/portfolio1d.jpg" class="img-responsive img-centered" alt="">
                                          </div>

                                        <!-- Left and right controls -->
                                        <a class="left carousel-control" href="#myCarousel4" role="button" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel4" role="button" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                            </div>
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
